#app{
    max-width: 1200px;
    margin-right:auto ;
    margin-left:auto;
    background-color:paleturquoise;
    padding-bottom: 50px;
  }

      p,div{
        font-size:13px;
        margin-bottom: 5px;
        line-height: normal;
      }
    ul {
    list-style-type: none;
     }
     .footer {
      color: #ffffff;
      background-color: #24211b;
      padding-top: 30px;
      padding-bottom: 15px;
      align-items: center;
      margin-top:100px;
      text-align: center;
      font-size: small;
    }
    /* footer{
        margin-top:100px;
        text-align: center;
        font-size: small;
     }
     */
    .category-list {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 4fr));
    padding-left:20px;
    }
    .category-list img {
    width: 250px;
    height: auto;
    object-fit:cover;
    }
    .category-nav {
    text-align: center;
    padding: 30px;
    }
    .category-nav label {
    background: rgb(117, 118, 118);
    color: #fff;
    padding: 2px 2px;
    margin: 10px;
    cursor: pointer;
    }
    .category-nav input[type="radio"] {
    /* Hide radio buttonns */
    opacity:0;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    }
    .category-list .animal-name{
      font-weight: bold;
      text-align: left;
    }
    @media screen and (max-width: 767px) {/* スクリーンサイズが767px以下の場合に適用 */
      #app{
        max-width: 767px;
        margin-right:auto ;
        margin-left:auto;
        background-color:paleturquoise;
        padding-bottom: 50px;
      }
      h1{
        font-size:16px;
      }
      p,div{
        font-size:13px;
        line-height: normal;
        text-align: left;
        margin-bottom: 5px;
      }
      .category-nav {
      text-align: left;
      padding: 5px;
      }
      .category-nav label {
      color: #333;
      padding: 2px 2px;
      margin: 3px;
      cursor: pointer;
      }
      .category-list {
      display: grid;
      gap: 2px 5px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }
    }