@charset "utf-8";


/* ここから下がハンバーガーメニューに関するCSS */
  
/* チェックボックスを非表示にする */
.drawer_hidden {
  display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer_open {
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
 
  
}

/* ハンバーガーメニューのアイコン */
.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
.drawer_open span:before {
  bottom: 8px;
}

/* 三本線の一番下の棒の位置調整 */
.drawer_open span:after {
  top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}
  
/* メニューのデザイン*/
.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 100%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: #fff;
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

/* メニュー黒ポチを消す */
.nav_list {
  list-style: none;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer_input:checked ~ .nav_content {
  right: 0;/* メニューを画面に入れる */
}

.nav_list a{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
  display: block;
  transition-duration: 0.5s;
}

.nav_list a:hover {
  transform: scale(1.5);
}

/*動物一覧*/

.flex{
    display: flex;
    justify-content: space-between;
}
.flex p{
    width: 49%;
}



.item-list {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  column-gap: 50px;
  row-gap: 40px;
  
}

#pagetop {
    position: fixed;
    bottom: 50px;
    right: 30px;
}

#pagetop a{
 display: block;
 transition-duration:0.4s;
}

#pagetop a:hover{
 transform: scale(1.2);
}

html {
 scroll-behavior: smooth;
}

