<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
  <title>Virtual Higashiyama Zoo</title>
  <meta name="description" content="バーチャル東山動物園">
  <meta name="viewport" content="width=device-width">
  <link href="./css/rensyuu3.css" rel="stylesheet">
  <link href="./css/common.css" rel="stylesheet">
  <link href="./css/menu.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue@3.0.11/dist/vue.global.js"></script>
 <!-- 追加した外部ファイル -->
  <script src="js/jquery-3.7.1.min.js"></script>
  <link href="css/lightbox.css" rel="stylesheet" />
  <link href="css/animal.css" rel="stylesheet" />
     <script src="js/lightbox.js"></script>
</head>

<body>
<!-- headerここから -->
<header class="header">
	<!-- ヘッダーロゴ -->
	<div class="logo"><a href="rensyuu1.html">バーチャル東山動物園</a></div>

      <!-- ハンバーガーメニュー部分 -->
      <div class="nav">
    
        <!-- ハンバーガーメニューの表示・非表示を切り替えるチェックボックス -->
        <input id="drawer_input" class="drawer_hidden" type="checkbox">
    
        <!-- ハンバーガーアイコン -->
        <label for="drawer_input" class="drawer_open"><span></span></label>
        <!-- メニュー -->
        <nav class="nav_content">
          <ul class="nav_list">
            <li class="nav_item"><a href="rensyuu1.html">T O P</a></li>
	          <li class="nav_item"><a href="rensyuu3.html">動物園</a></li>
            <li class="nav_item"><a href="menu.html">ピックアップ</a></li>
          </ul>
        </nav>
      </div>
</header>
 <!-- headerここまではとくに修正していません。 -->
<!-- 動物一覧 -->
  <div id="app">
    
    <div class="category-nav">
      <h1>動物の写真ギャラリー</h1>
    <p>2023年に東山動植物園で撮影した動物たちの写真を掲載しています。<br>
      動物の写真を<b>クリック</b>すると、<b>拡大した写真</b>を見ることができます。また、<b>動物の名前など</b>のキーワードを入力して検索ができます。</p>
      <br>
      <p>キーワード検索：
      <input name="keyword_search" maxlength="80" type="text" v-model="searchKeywords">　　
       <label>     
      <button class="" style="margin-bottom: 50px;"><a @click="resetSearch()">検索内容をリセットする</a></button>
    </label>
    </p>
     <div>表示している画像の数：{{filterItems.length}}</div>
    </div>
    <ul class="category-list">
      <li v-for="item in filterItems" :key="item.id">
          <a :href="item.src2" data-lightbox="honen" :data-title="item.desc">
          <img :src="item.src" alt="item.name"></a>
          <p class="animal-name">No. {{item.id}} {{item.name}}</p>
        </li>
      </ul>
  </div>
<!-- 動物一覧ここまで -->
<p id="pagetop">
  <a href="#">
  <img src="./images/common/scroll2.png" height="100" width="100" alt="ページトップボタン"></a>
</p>

<footer class="footer">
</footer>

<script type="module" >

const search = Vue.createApp({
  // data 動物の名前、写真、カテゴリ、説明などのデータベースをJSON形式で作る
  data() {
    return {
      // jsonデータをここに入れています。
      records:          
        [
          { "id": 1,
            "src": "images/animal/small/IMG_7016.jpg",
            "src2": "images/animal/IMG_7016.jpg",
            "category": "kuma",
            "name":"ヒグマ",
            "desc":"ヒグマの説明"
          },
          { "id": 2,
            "src": "images/animal/small/IMG_7020.jpg",
            "src2": "images/animal/IMG_7020.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 3,
            "src": "images/animal/small/IMG_7013.jpg",
            "src2": "images/animal/IMG_7013.jpg",
            "category": "kuma",
            "name":"ホッキョククマ",
            "desc":"ほっきょくくま（しろくま）の説明"
          },
          { "id": 4,
            "src":"images/animal/small/IMG_7015.jpg",
            "src2": "images/animal/IMG_7015.jpg",
            "category": "kuma",
            "name":"ホッキョククマ",
            "desc":"ほっきょくくま（しろくま）の説明"
          },
          { "id": 5,
            "src": "images/animal/small/IMG_7143.jpg",
            "src2": "images/animal/IMG_7143.jpg",
            "category": "kuma",
            "name":"レッサーパンダ",
            "desc":"レッサーパンダの説明"
          },
          { "id": 6,
            "src": "images/animal/small/IMG_7145.jpg",
            "src2": "images/animal/IMG_7145.jpg",
            "category": "kuma",
            "name":"レッサーパンダ",
            "desc":"レッサーパンダの説明"
          },
          { "id": 7,
            "src": "images/animal/small/IMG_7149.jpg",
            "src2": "images/animal/IMG_7149.jpg",
            "category": "kuma",
            "name":"レッサーパンダ",
            "desc":"レッサーパンダの説明"
          },
          { "id": 8,
            "src": "images/animal/small/IMG_7150.jpg",
            "src2": "images/animal/IMG_7150.jpg",
            "category": "kuma",
            "name":"レッサーパンダ",
            "desc":"レッサーパンダの説明"
          },
          { "id": 9,
            "src": "images/animal/small/IMG_7152.jpg",
            "src2": "images/animal/IMG_7152.jpg",
            "category": "zou",
            "name":"レッサーパンダ",
            "desc":"レッサーパンダの説明"
          },
          { "id": 10,
            "src": "images/animal/small/IMG_7021.jpg",
            "src2": "images/animal/IMG_7021.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 11,
            "src": "images/animal/small/IMG_7019.jpg",
            "src2": "images/animal/IMG_7019.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 11,
            "src": "images/animal/small/IMG_7017.jpg",
            "src2": "images/animal/IMG_7017.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 12,
            "src": "images/animal/small/IMG_7056.jpg",
            "src2": "images/animal/IMG_7056.jpg",
            "category": "shika",
            "name":"アクシスジカ",
            "desc":"アクシスジカの説明"
          },
          { "id": 13,
            "src": "images/animal/small/IMG_7067.jpg",
            "src2": "images/animal/IMG_7067.jpg",
            "category": "shika",
            "name":"アクシスジカ",
            "desc":"アクシスジカの説明"
          },
          { "id": 14,
            "src": "images/animal/small/IMG_7136.jpg",
            "src2": "images/animal/IMG_7136.jpg",
            "category": "kangaru",
            "name":"アカカンガルー",
            "desc":"赤カンガルーの説明"
          },
          { "id": 15,
            "src": "images/animal/small/IMG_7140.jpg",
            "src2": "images/animal/IMG_7140.jpg",
            "category": "kangaru",
            "name":"アカカンガルー",
            "desc":"赤カンガルーの説明"
          }, 
          { "id": 16,
            "src": "images/animal/small/IMG_7016.jpg",
            "src2": "images/animal/IMG_7016.jpg",
            "category": "kuma",
            "name":"アカコンゴウインコ",
            "desc":"アカコンゴウインコの説明"
          },
          { "id": 17,
            "src": "images/animal/small/IMG_7020.jpg",
            "src2": "images/animal/IMG_7020.jpg",
            "category": "zou",
            "name":"アフリカゾウ",
            "desc":"アフリカゾウの説明"
          },
          { "id": 18,
            "src": "images/animal/small/IMG_7013.jpg",
            "src2": "images/animal/IMG_7013.jpg",
            "category": "kuma",
            "name":"エミュー",
            "desc":"エミューの説明"
          },
          { "id": 19,
            "src":"images/animal/small/IMG_7015.jpg",
            "src2": "images/animal/IMG_7015.jpg",
            "category": "ashika",
            "name":"カルフォルニアアシカ",
            "desc":"カルフォルニアアシカの説明"
          },
          { "id": 20,
            "src": "images/animal/small/IMG_7143.jpg",
            "src2": "images/animal/IMG_7143.jpg",
            "category": "pengin",
            "name":"キタイワトビペンギン",
            "desc":"キタイワトビペンギンの説明"
          },
          { "id": 21,
            "src": "images/animal/small/IMG_7145.jpg",
            "src2": "images/animal/IMG_7145.jpg",
            "category": "pengin",
            "name":"フンボルトペンギン",
            "desc":"フンボルトペンギンの説明"
          },
          { "id": 22,
            "src": "images/animal/small/IMG_7157.jpg",
            "src2": "images/animal/IMG_7157.jpg",
            "category": "koara",
            "name":"コアラ",
            "desc":"コアラの説明"
          },
          { "id": 23,
            "src": "images/animal/small/IMG_7184.jpg",
            "src2": "images/animal/IMG_7184.jpg",
            "category": "koara",
            "name":"コアラ",
            "desc":"コアラの説明"
          },
          { "id": 24,
            "src": "images/animal/small/IMG_7191.jpg",
            "src2": "images/animal/IMG_7191.jpg",
            "category": "koara",
            "name":"コアラ",
            "desc":"コアラのおおあくび"
          },
          { "id": 25,
            "src": "images/animal/small/IMG_7021.jpg",
            "src2": "images/animal/IMG_7021.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 26,
            "src": "images/animal/small/IMG_7019.jpg",
            "src2": "images/animal/IMG_7019.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 27,
            "src": "images/animal/small/IMG_7017.jpg",
            "src2": "images/animal/IMG_7017.jpg",
            "category": "zou",
            "name":"アジアゾウ",
            "desc":"アジアゾウの説明"
          },
          { "id": 28,
            "src": "images/animal/small/IMG_7056.jpg",
            "src2": "images/animal/IMG_7056.jpg",
            "category": "shika",
            "name":"アクシスジカ",
            "desc":"アクシスジカの説明"
          },
          { "id": 29,
            "src": "images/animal/small/IMG_7067.jpg",
            "src2": "images/animal/IMG_7067.jpg",
            "category": "shika",
            "name":"アクシスジカ",
            "desc":"アクシスジカの説明"
          },
          { "id": 30,
            "src": "images/animal/small/IMG_7136.jpg",
            "src2": "images/animal/IMG_7136.jpg",
            "category": "kangaru",
            "name":"アカカンガルー",
            "desc":"赤カンガルーの説明"
          },
          { "id": 31,
            "src": "images/animal/small/IMG_7140.jpg",
            "src2": "images/animal/IMG_7140.jpg",
            "category": "kangaru",
            "name":"アカカンガルー",
            "desc":"赤カンガルーの説明"
          }, 
        ],
        searchKeywords: [],
        filteredItems: []
    }
  },
 /* ここは使っていないので、コメントアウト
 mounted() {

     var json = './animal-list.json';
    axios.get(json).then(x => {
      this.records = x.data
    }).catch((error) => alert('正しくjsonデータが読み込まれていません。error:' + error)); 

 },*/
  methods: {
    // 検索のチェックをリセットする
    resetSearch() {
      
      this.searchKeywords = [];
    },

  },
  computed: {
    filterItems() {
      let filtered = this.records;

      // キーワード検索のプログラム　名前やカテゴリ名で検索できる
      if (this.searchKeywords.length > 0) {

        const searchKeywords = this.searchKeywords.split(/\s/);
        filtered = filtered.filter((item) => {
          for (let i = 0; i < searchKeywords.length; i++) {
            console.log(searchKeywords[i]);
            // 名前にヒットしない場合は、falseを返す
            if  ((!item.name.includes(searchKeywords[i])) && (!item.category.includes(searchKeywords[i]))){
              return false
              break;
            }
          }
          return true
        });
      }
      if(this.category){
        filtered = filtered.filter((item) => !item.category.indexOf(this.category) );

      }

      return filtered;
   },
  

  }
});

const vm = search.mount("#app");
</script>
</body>
</html>